.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 70rem;
}

.Layout {
  height: 100%;
  display: flex;
  position: relative;
}

.Layout .main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
}
